.chosen-single, .chosen-drop, .chosen-results{
	width: 400px !important;
}
.chosen-choices .search-field input{
	height: 30px !important;
}

.panel-body {
    max-height: 700px;
    overflow: auto;
    width: 100%;
}