/*!
 * CSS horizon
 * Liquidations section
 * jzamora 2014
 */

/* Main table */
#liquidations table{
  margin: 0;
}
#liquidations table th, #liquidations table td {
  vertical-align: middle;
  text-align: center;
}

#liquidations table .line{
  width: 116px;
}
#liquidations table .vol{
  width: 70px;
}
#liquidations table .total{
  width: 120px;
}
#liquidations table .unity{
  width: 42px;
}
#liquidations table .productname{
  width: 185px;
}
#liquidations .subTableContainer{
  padding: 0;
}
#liquidations .subTable{
  padding: 0;
  border: 2px solid transparent;
}
#liquidations .left{
  float: left;
}
#liquidations .footer{
  background-color: #ccc;
}
#liquidations .tableLine{
  margin-bottom: 10px;
  font-size: 12px;
}

#liquidations .inputSmall{
  width: 45px;
}

#liquidations .rotate{
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#liquidations .title{
  padding: 3px 0;
}

#liquidations .title .main{
  float: left;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DDD;
  margin-bottom: 5px;
}
#liquidations .title .section{
  float: left;
  width: 50%;
  text-align: center;
}

.selectorCheck{
  list-style-type: none;
}
.selectorCheck li{
  float: left;
  line-height: 20px;
  margin-right: 20px;
}
.selectorCheck li label{
  line-height: 14px;
}


/* CHOSEN SELECTORS */
.chosen-single, .chosen-drop, .chosen-results, #noregulardropdown_chosen{
  width: 400px !important;
}
.chosen-choices .search-field input{
  height: 30px !important;
}

/*  Section Tables  */

.panel-body{
  width: 100%;
  max-height: 700px;
  overflow: auto;
}


.totalammount{
  font-weight: bold;
  font-size: 15px;
}
.bold{
  font-weight: bold;
}