<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title>Salida de Almacen</title>
    </head>
    <body>
        <center>
            DISTRIBUIDORA AD
            HORIZON
            SALIDA DE ALMACEN
            ORIGINAL
        </center>
        <section>
            Nro. 00065                     Alm. 001
            Fecha 18/07/2014
            Usuario: Victor Cespedes
            Distribuidor: Franklin Marquez (1)
        </section>
        <section>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cod.</th>
                        <th>Producto</th>
                        <th>Ct</th>
                        <th>T</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>7772115200134</td>
                      <td>MIX BERRY 3L</td>
                      <td>3</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <td>7772115200134</td>
                      <td>MIX BERRY 3L</td>
                      <td>3</td>
                      <td>P</td>
                    </tr>
                    <tr>
                      <td>7772115200134</td>
                      <td>MIX BERRY 3L</td>
                      <td>3</td>
                      <td>P</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </body>
</html>
